<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
    
<body>
    <%- include('../partials/topnav') %>
    <div>
        <ul>
            <li><a href="/Coordinator/All_Articles">All articles</a></li>
            <li><a href="/Coordinator/Unapproved_Articles">The article has not been approved</a></li>
            <li><a href="/Coordinator/Students">The students in the faculty</a></li>
        </ul>
    </div>
</body>

</html>