<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <style>
        p {
            margin: 5px 5px;
        }
    </style>
</head>
    
<body>
    <%- include('../partials/topnav') %>
    <br>
    <div style="width: 90%; border: 2px solid black; overflow: scroll; min-height: 400px;" id="msgBox">
        <% for (let message of data.Message) { %>
            <p><b><%- message.Username %>: </b><%- message.Message %></p>
        <% } %>
    </div>
    <br>
    <form id="inputMessage">
        <input type="text" id="message" placeholder="Message" style="width: 90%;" required>
        <button type="submit">Send</button>
    </form>
</body>
<script>
    const socket = io();
    document.getElementById("inputMessage").addEventListener("submit", function(event) {
        event.preventDefault();
        let input = document.getElementById("message");
        socket.emit("SendMessage", input.value);
        input.value = '';
    })
    socket.on("Message", function(msg, username) {
        let item = document.createElement('p');
        item.innerHTML = `<b>${username}:</b> ${msg}`;
        document.getElementById("msgBox").appendChild(item);
    });
</script>
</html>