<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
    
<body>
    <%- include('../partials/topnav') %>
    <div>
        <ul>
            <li><a href="/Manager/DownloadArticles">Download Articles</a></li>
        </ul>
    </div>
</body>

</html>