<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
    
<body>
    <%- include('../partials/topnav') %>
    <div>
        <!--Ghi điều khoản vào đây-->
        <p></p>
    </div>
</body>

</html>